.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.normal {
    background-color:#ACAD99;
}	
.fighting {
    background-color: #CD804C;
}
.flying {
    background-color:#5f93ec;
}	
.poison {
    background-color:#9e69b3;
}	
.ground {
    background-color:rgb(119, 86, 49);
}	
.rock {
    background-color:#bcb990;
}	
.bug {
    background-color:#aac78d;
}	
.ghost {
    background-color:#816DB6;
}	
.steel {
    background-color:#9FA9AF;
}	
.fire {
    background-color:#e65d27;
}	
.water {
    background-color:#639CE4;
}	
.grass {
    background-color:#8dc15d;
}	
.electric {
    background-color:#E7C536;
}
.psychic {
    background-color:#e287a5;
}	
.ice {
    background-color:#81CFD7;
}	
.dragon {
    background-color:#8572C8;
}	
.dark {
    background-color:#6b645e;
}	
.fairy {
    background-color:#f1c7e8;
}


.pokemon .number {
    color:#000;
    opacity: .2;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pokemon .detail img {
    max-width: 100%;
    height: 4.37rem;
    align-self: flex-end;
}

@media screen and (min-width: 360px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
} 

@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr ;
    }
} 

@media screen and (min-width: 992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

.pagination button {
    background-color: rgb(189, 188, 188);
    border: none;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 0.9rem;
}
